:root {
    --thales-header: #151930;
    --thales-gradient-1: #151930;
    --thales-gradient-2: #082C46;
    --thales-gradient-3: #073D59;
    --thales-gradient-3-light: rgb(7, 61, 89, 0.4);
    --thales-color: #00abc8;


}

body {
    margin: 0%;
    background-color: var(--thales-gradient-3-light);
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--thales-header);
    color: #fff;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: 50px;
    margin: 5px;
    margin-right: 50px;
}

header h1 {
    font-size: large;
    color: var(--thales-color);
}

header nav {
    margin-left: auto;
    width: 50%;
}

header ul li {
    display: inline;
    list-style-type: none;
    margin-right: 20%;
}

header a {
    color: #fff;
    text-decoration: none;
}

header .active {
    color: var(--thales-color);
}

section {
    padding-left: 5%;
    padding-right: 5%;
}

.welcome, .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2%;
    color: #fff;
    border: 5px solid var(--thales-gradient-2);
    background-color: var(--thales-gradient-3);
    border-radius: 10px;
}

.login {
    padding: 4%;
}

.welcome h2, .welcome h3, .login h2, .login h3 {
    color: var(--thales-color);
}

.welcome ul {
    margin-top: 10%;
    text-align: left;
}

.welcome li {
    margin-left: 10%;
    padding: 1%;
}

.welcome button, .login button {
    margin-top:10%;
    background-color: var(--thales-color);
    color: black;
}

.login .input-line {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    width: 110%;
}

.login input {
    margin-left: 3%;
    background-color: #fff;
    border: 1px solid var(--thales-gradient-2);
    border-radius: 10px;
    height: 20px;
}

.selection-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid var(--thales-gradient-3);
    border-bottom: 5px solid var(--thales-gradient-3);
    width: 100%;
}

.gestion {
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
}

.programs-selection, .popup-programs-selection, .phases-and-order-selection, .keywords-selection, .users-order-selection, .password-update-selection {
    margin: 1%;
    padding-left: 10px;
    border: 1px solid var(--thales-gradient-2);
    width: 100%;
    background-color: var(--thales-gradient-3);
    border-radius: 5px;
    height: 150px;
    color: #fff;
}

.users-order-selection, .password-update-selection {
    height: 170px;
}

.users-order-selection {
    width: 25%;
}

.password-update-selection {
    width: 40%;
}

.popup-programs-selection {
    width: auto;
    margin-bottom: 10px;
}

.programs-selection h3, .popup-programs-selection h4, .phases-and-order-selection h3, .keywords-selection h3, .users-order-selection h3, .password-update-selection h3 {
    color: var(--thales-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.keywords-selection p {
    height: 40px;
    flex-wrap: wrap;
    overflow-y: scroll;
    color: red;
}

.checkbox-area, .radio-area, .popup-checkbox-area, .password-input-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 100px;
    overflow-y: auto;
}

.users-order-selection .radio-area {
    display: block;
}

.users-order-selection .radio-line, .password-input-line {
    margin-bottom: 10px;
}

.checkbox-line, .popup-checkbox-line, .password-input-line  {
    width: calc(25% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.popup-checkbox-line, .password-input-line {
    width: calc(50% - 10px);
}

.programs-selection .checkbox, .popup-programs-selection .popup-programs-checkbox, .phases-and-order-selection .checkbox, .password-input-line label {
    margin-right: 5px;
}

.programs-selection label, .popup-programs-selection label , .phases-and-order-selection label, .users-order-selection label {
    color: #fff;
    cursor: pointer;
}

.search-input {
    margin-top: 10px;
    height: 30px;
    width: 90%;
}

.selection-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    height: 50px;
    padding: 1%;
}

.users-order-selection .selection-button, .password-update-selection .selection-button {
    height: 30px;
    align-items: baseline;
}

button {
    background-color: var(--thales-gradient-3);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    margin: 1px;
}

.selection-button button {
    height: 100%;
    width: 100%;
    margin: 5%;
}

.users-order-selection .selection-button button, .password-update-selection .selection-button button {
    background-color: var(--thales-color);
    margin: 0%;
}

button:hover {
    opacity: 1;
}

h2, h3, h4 {
    color: var(--thales-gradient-3);
}

#deleteForm h3, .userDeleteForm h3 {
    color: red;
}

/* Tableau */
.table-container {
    max-height: 500px; /* Hauteur maximale du tableau */
    overflow: hidden; /* Masque le débordement du tableau */
    border: 1px solid var(--thales-gradient-2); /* Bordure pour une séparation nette */
    border-radius: 10px; /* Coins arrondis pour l'encadré */
}

table {
    width: 1731x;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    display: grid; /* Utilisation de CSS Grid pour la structure du tableau */
    grid-template-rows: auto 1fr; /* Première ligne automatique pour thead, seconde ligne extensible pour tbody */
}

th, td {
    border: 1px solid var(--thales-gradient-1);
    padding: 10px;
    text-align: left;
}

.programs-column, .keywords-column {
    width: 300px;
}
.phase-column {
    width: 100px;
}

.item-column {
    width: 800px;
}

.actions-column {
    width: 140px;
}

.username-column, .firstname-column, .lastname-column {
    width: 400px;
}

.profile-column {
    width: 110px;
}

.attempts-column {
    width: 250px;
}

.username-column {
    width: 300px;
}

thead {
    background-color: var(--thales-gradient-2);
    color: #fff;
}

tbody {
    max-height: 350px;
    overflow-y: scroll;
}

tbody tr:nth-child(even) {
    background-color: var(--thales-gradient-3-light);
}

/* Boutons d'action */
.action-btn-container {
    display: flex;
    justify-content: center;
}

.action-btn {
    background-color: var(--thales-gradient-3);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    width: 100%;
}

.action-btn:hover {
    opacity: 1;
}

/* Bouton d'avertissement */
.btn-warning {
    background-color: darkred;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.btn-warning:hover {
    opacity: 1;
}

/* Forme Popup */
.form-popup {
    display: none;
    position: fixed; /* Utiliser une position fixe */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #666;
    padding: 20px;
    background-color: #fff;
    z-index: 999;
    color: var(--thales-gradient-1);
}

.form-popup li {
    margin-bottom: 10px;
}

.form-container {
    max-width: 300px;
}

.form-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}

.form-container input[type="text"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: var(--thales-gradient-3);
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

/* Footer */
footer {
    position: fixed; /* Fixé en bas de la page */
    bottom: 0;
    width: 100%;
    background-color: var(--thales-header);
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
