:root {
    --thales-header: #151930;
    --thales-gradient-1: #151930;
    --thales-gradient-2: #082C46;
    --thales-gradient-3: #073D59;
    --thales-gradient-3-light: rgb(7, 61, 89, 0.4);
    --thales-color: #00abc8;


}

body {
    margin: 0%;
    background-color: var(--thales-gradient-3-light);
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--thales-header);
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
}

header img {
    width: 120px;
    height: 60px;
    margin-left: 20px;
    margin-right: 50px;
}

header h1 {
    width: 170px;
    font-size: large;
    color: var(--thales-color);
}

header h1:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    opacity: 0.8;
    transition: opacity 0.75s, text-decoration 0.75s;
    
}

header nav {
    width: 100%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

header ul li {
    list-style-type: none;
}

header a {
    font-size: .875rem;
    color: #fff;
    text-decoration: none;
}

.current-page, .page:hover {
    color: var(--thales-color);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color 0.75s, text-decoration 0.75s;
}

#uca {
    background-color: #fff;
    height: 64px;
    width: 150px;
    margin: 0;
}

section {
    padding-left: 5%;
    padding-right: 5%;
}

.welcome, .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2%;
    color: #fff;
    border: 5px solid var(--thales-gradient-2);
    background-color: var(--thales-gradient-3);
    border-radius: 10px;
}

.login {
    padding: 4%;
}

.welcome h2, .welcome h3, .login h2, .login h3 {
    color: var(--thales-color);
}

.welcome ul {
    margin-top: 10%;
    text-align: left;
}

.welcome li {
    margin-left: 10%;
    padding: 1%;
}

.welcome button, .login button {
    margin-top: 50px;
    background-color: var(--thales-color);
    font-size: 100%;
    min-height: 50px;
    min-width: 200px;
}

.login .input-line {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    width: 110%;
}

.login input {
    margin-left: 3%;
    background-color: #fff;
    border: 1px solid var(--thales-gradient-2);
    border-radius: 10px;
    height: 20px;
}

.selection-form, .create-user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid var(--thales-gradient-3);
    border-bottom: 5px solid var(--thales-gradient-3);
    width: 100%;
}

.create-user-form {
    flex-direction: row;
}

.gestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.programs-selection, .popup-programs-selection, .phases-and-order-selection, .phase-selection, .keywords-selection, .write-goodpractice, .users-order-selection, .password-update-selection, .create-user-selection, .log-selection, .create-user, .reset-user-password {
    margin: 1%;
    padding-left: 10px;
    border: 1px solid var(--thales-gradient-2);
    width: 100%;
    background-color: var(--thales-gradient-3);
    border-radius: 5px;
    height: 150px;
    color: #fff;
}

.users-order-selection, .password-update-selection, .create-user-selection, .log-selection {
    height: 180px;
}

.create-user, .reset-user-password {
    height: 100%;
}

.users-order-selection, .create-user-selection, .log-selection {
    width: 25%;
}

.password-update-selection {
    width: 50%;
}

.popup-programs-selection {
    width: auto;
    margin-bottom: 10px;
}

.write-goodpractice {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.write-goodpractice textarea {
    height: 230px;
    min-height: 230px;
    width: 80%;
    min-width: 50%;
    max-width: 80%;
    font-size: larger;
    border: 2px solid var(--thales-color);
    background-color: #fff;
    opacity: 0.9;
}

.write-goodpractice textarea:focus {
    outline: none;
    opacity: 1;
    transition: opacity 0.75s;
}

.programs-selection h3, .popup-programs-selection h4, .phases-and-order-selection h3, .phase-selection h3, .keywords-selection h3, .write-goodpractice h3, .users-order-selection h3, .password-update-selection h3, .create-user-selection h3, .log-selection h3, .create-user h3, .create-user h4, .reset-user-password h4 {
    color: var(--thales-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.create-user h3, .create-user h4, .reset-user-password h4, .write-goodpractice h3 {
    margin-bottom: 20px;
}

.create-user h4 {
    margin-top: 30px;
}

.keywords-selection p {
    height: 40px;
    flex-wrap: wrap;
    overflow-y: scroll;
    color: red;
}

.password-update-selection p {
    font-style: italic;
    margin: 0%;
    margin-bottom: 3px;
}

.checkbox-area, .radio-area, .popup-checkbox-area, .password-input-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 100px;
    overflow-y: scroll;
}

.users-order-selection .radio-area, .user-create-input-area {
    display: block;
}

.users-order-selection .radio-line {
    margin-bottom: 10px;
}

.create-user-input-line input, .reset-user-password-input-line input {
    height: 22px;
    margin-bottom: 20px;
    min-width: 200px;
}

.checkbox-line, .popup-checkbox-line, .password-input-line  {
    width: calc(25% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.popup-checkbox-line, .password-input-line {
    width: calc(50% - 10px);
}

.password-input-line {
    margin-bottom: 0%;
}

.password-input-line input, #log-date-day, #log-date-year {
    width: 20%;
}

.programs-selection .checkbox, .popup-programs-selection .popup-programs-checkbox, .phases-and-order-selection .checkbox, .phase-selection label, .password-input-line label, .create-user-selection label, .log-selection label {
    margin-right: 5px;
}

.programs-selection label, .popup-programs-selection label , .phases-and-order-selection label, .users-order-selection label, .create-user-selection label, .log-selection label, .create-user label, .reset-user-password label {
    color: #fff;
    cursor: pointer;
}

label {
    font-weight: bold;
}

.search-input {
    margin-top: 10px;
    height: 30px;
    width: 90%;
}

.selection-button, .create-user-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 50px;
    padding: 1%;
}

.users-order-selection .selection-button, .password-update-selection .selection-button {
    height: 35px;
    align-items: baseline;
}

.goodpractices-selection .selection-button {
    width: 80%;
    height: 60px;
}

#create-goodpractice-selection-button {
    width: 60%;
}

button {
    background-color: var(--thales-gradient-3);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    margin: 1px;
}

.selection-button button {
    height: 100%;
    width: 100%;
    margin: 5%;
}

.users-order-selection button, .password-update-selection button, .create-user-selection button, .log-selection button, .create-user-button button {
    background-color: var(--thales-color);
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    opacity: 0.9;
    font-size: 100%;
}

.users-order-selection button {
    margin-top: 25px;
}

.password-update-selection button {
    margin-top: 10px;
}

.create-user-selection button, .log-selection button {
    margin-top: 60px;
}

.create-user-button button {
    width: 300px;
    height: 60px;
}

button:hover {
    opacity: 1;
    transition: opacity 0.75s;
}

h2, h3, h4 {
    color: var(--thales-gradient-3);
}

.darkred {
    background-color: darkred;
    color: #fff;
    padding: 2px;
}

ol li {
    margin-bottom: 5px;
}

/* Table */
.table-container {
    overflow: hidden;
    border: 1px solid var(--thales-gradient-2);
    border-radius: 10px;
}

table {
    width: 1800px;
    border-collapse: collapse;
    overflow: hidden; 
    display: grid;
    grid-template-rows: auto 1fr;
}

tr#self-admin {
    height: 50px;
    background-color: var(--thales-color);
}

tr.blocked {
    color: #c80815;
}

th, td {
    border: 1px solid var(--thales-gradient-1);
    padding: 10px;
    text-align: left;
}

.programs-column, .keywords-column {
    width: 290px;
}
.phase-column {
    width: 100px;
}

.item-column {
    width: 800px;
}

.actions-column {
    width: 140px;
}

.username-column, .firstname-column, .lastname-column {
    width: 400px;
}

.profile-column {
    width: 110px;
}

.attempts-column {
    width: 250px;
}

.username-column {
    width: 300px;
}

thead {
    background-color: var(--thales-gradient-2);
    color: #fff;
}

tbody {
    max-height: 370px;
    overflow-y: scroll;
}

#users-tbody {
    max-height: 430px;
}

tbody tr:nth-child(even) {
    background-color: var(--thales-gradient-3-light);
}

.action-btn-container {
    display: flex;
    justify-content: center;
}

.action-btn {
    background-color: var(--thales-gradient-3);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    width: 100%;
}

.action-btn:hover {
    opacity: 1;
    transition: 0.75s;
}

.btn-warning {
    background-color: darkred;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.btn-warning:hover {
    opacity: 1;
    transition: 0.75s;
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--thales-gradient-3);
    padding: 20px;
    background-color: #fff;
    z-index: 999;
    color: var(--thales-gradient-1);
    width: 20%;
}

.form-popup li {
    margin-bottom: 10px;
}

input {
    border: 2px solid var(--thales-color);
    background-color: #fff;
    opacity: 0.9;
    border-radius: 5px;
}

input:focus {
    outline: none;
    opacity: 1;
    transition: opacity 0.75s;
}

.form-container .btn {
    background-color: var(--thales-gradient-3);
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
    transition: 0.75s;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--thales-gradient-3);
    border: 1px solid var(--thales-gradient-1);
    border-radius: 10px;
    height: 350px;
    padding: 2%;
    font-size: large;
}

.log-selection {
    height: 150px;
}

#to-log {
    height: 180px;
}

#log-date-day, #log-date-month, #log-date-year {
    margin-bottom: 10px;
}

#log-date-selection-sa, #log-evenement-type-selection-sa, #log-user-profile-selection-sa, #log-search-selection-sa {
    width: 25%;
}

#log-date-selection-a, #log-evenement-type-selection-a, #log-search-selection-a {
    width: 33%;
}

#log-date-selection-a .checkbox-line, .log-date-selection-sa .checkbox-line, #log-evenement-type-selection-a .checkbox-line, .log-evenement-type-selection-sa .checkbox-line, #log-evenement-type-selection-a .checkbox-line, #log-evenement-type-selection-sa .checkbox-line {
    width: 200px;
}

#log-user-profile-selection-sa .checkbox-line {
    width: 250px;
}

.information {
    color: #1e90ff;
}

.warning {
    color: #eee600;
}

.alarm {
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--thales-header);
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
